.app {
    height: 200px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 2px solid grey;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.timer {
    font-size: 35px;
}
